@import "tailwindcss";
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

li.relative.group > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: oklch(70.7% 0.165 254.624);
  transition: width 0.3s ease;
}

li.relative.group:hover > a::after,
li.relative.group > a.active::after {
  width: 100%;
}
